{% extends './base.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Mijn weddenschappen</h1>
    <ul class="list-group">
      {% for bet in bet_list %}
      {% if bet.match.is_finished and bet.bet_result %}
      <a class="list-group-item list-group-item-action bet-won" href="{% url 'competitie_manager_app:bet_detail' competitie=bet.match.competition match_pk=bet.match.pk pk=bet.pk %}">{{ bet.match.home_team.naam }} vs
        {{ bet.match.away_team.naam }} |
        <mark class="won">+{{bet.prize_amount}}</mark></a>
      {% elif bet.match.is_finished and not bet.bet_result %}
      <a class="list-group-item list-group-item-action bet-won" href="{% url 'competitie_manager_app:bet_detail' competitie=bet.match.competition match_pk=bet.match.pk pk=bet.pk %}">{{ bet.match.home_team.naam }} vs
        {{ bet.match.away_team.naam }} |
        <mark class="lost">-{{bet.stake}}</mark></a>
      {% else %}
      <a class="list-group-item list-group-item-action bet-won" href="{% url 'competitie_manager_app:bet_detail' competitie=bet.match.competition match_pk=bet.match.pk pk=bet.pk %}">{{ bet.match.home_team.naam }} vs
        {{ bet.match.away_team.naam }}</a>
      {% endif %}

      {% endfor %}
    </ul>

    <div class="gap-10"></div>

    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">begin</span>
          </a>
        </li>
        {% endif %}

        {% for n in page_obj.paginator.page_range %}
        {% if page_obj.number == n %}
        <li class="page-item active">
          <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
        </li>
        {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
        <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">end</span>
          </a>
        </li>
        {% endif %}
    </nav>
  </div>
</div>
</div>

{% endblock %}
