{% extends './base.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <div class="competition-detail-container">
      <h1>{{ competition_detail.naam }}</h1>
      <h2>{{ competition_detail.sport_soort }}</h2>

      <a class="btn btn-warning mb-3" href="{% url 'competitie_manager_app:matches' competitie=competition_detail.naam %}">Wedstrijden<span class="sr-only">(current)</span></a>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Team</th>
            <th scope="col">Punten</th>
          </tr>
        </thead>
        <tbody>
          {% for team in competition_teams_detail %}
          <tr>
            <td scope="row"></td>
            <td scope="row">{{ team.team.naam }}</td>
            <td scope="row">{{ team.points }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>
{% endblock %}
