{% extends './base.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <div class="competition-detail-container">
      <h1>{{ competition_detail.naam }}</h1>
      <h2>{{ competition_detail.sport_soort }}</h2>

      <a class="btn btn-primary" href="{% url 'competitie_manager_app:matches' competitie=competition_detail.naam %}">Wedstrijden<span class="sr-only">(current)</span></a>

      {% for team in competition_teams_detail %}
        <p>{{ team.team.naam }} </p> {{ team.points }}
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}
