{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="container-content">
  <div class="shadow-lg jumbotron-create card card-image mx-5 mt-5">
    <div class="text-white text-center py-5 px-4">
      <div class="container">
        <h1>Competitie maken</h1>
        <form class="" method="post" enctype='multipart/form-data'>
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="submit" class="btn btn-warning" value="Maken">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
