{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}


<div class="container">
  <div class="jumbotron">
    <h1>Teams</h1>
    <a class="btn btn-warning" href="{% url 'competitie_manager_app:create_team' %}">Team maken<span class="sr-only">(current)</span></a>
    <div class="gap-10"></div>
    <ul class="list-group">
      {% for team in team_list  %}
      <a class="list-group-item list-group-item-action" href="{% url 'competitie_manager_app:team_detail' pk=team.pk %}">
        <h5>{{ team }}</h5>
        <p>{{ team.sport_soort }}</p>
      </a>
      {% endfor %}
    </ul>

    <div class="gap-10"></div>

    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">begin</span>
          </a>
        </li>
        {% endif %}

        {% for n in page_obj.paginator.page_range %}
        {% if page_obj.number == n %}
        <li class="page-item active">
          <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
        </li>
        {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
        <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">end</span>
          </a>
        </li>
        {% endif %}
    </nav>
  </div>
</div>

{% endblock %}
