{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<body class="{% block body_class %}pagecreate{% endblock %}">
  <div class="container-content">
    <div class="shadow-lg jumbotron-create card card-image mx-5 mt-5">
      <div class="text-white text-center py-5 px-4">
        <div class="container">
          <h1>Uitslag invullen</h1>
          <h5>{{ match_detail.home_team.naam }} vs {{ match_detail.away_team.naam }}</h5>
          <form class="" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-warning" value="Indienen">
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
